/* CSS for global styles and components (like navbar) go here. */

html,
body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --ivey-green: #034638;
  --ivey-purple: #582c83;
  --ivey-sand: #c5b783;
  --ivey-light-green: #a6bb48;
  --ivey-turquoise: #0097a0;
  --black: #2d2d2d;
  --dark-grey: #63666a;
  --white: #ffffff;
  --light-grey: #97999b;
  --warm-grey: #7e7f74;
  --light-warm-grey: #a8a99e;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  color: var(--black);
  line-height: 110px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2.primary {
  color: var(--ivey-green);
}

h2.secondary {
  color: var(--ivey-light-green);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.round-image {
  border-radius: 50%;
  box-shadow: 0px 8px 15px 5px rgba(47, 47, 47, 0.1);
}
